<form action="/page/login" method="POST">
    Email :<br>
    <input type="email" name="email" ><br>
    Password :<br>
    <input type="password" name="password" ><br><br>
    <input type="submit" value="Submit">
  </form>