<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
    src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
    crossorigin="anonymous"></script>
    <% if(page==='admin'){ %>       
        
        <script src="/codebase/dhtmlx.js" type="text/javascript"></script>
        <script src="/codebase/ext/dhtmlxgrid_pgn.js" type="text/javascript"></script>
        <script src="/js/ucr_dhtmlx.js"></script>

        
        <!-- <link rel="stylesheet" type="text/css" href="/codebase/dhtmlx.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/nepali.datepicker.v2.1.min.css"> -->
        <link rel="stylesheet" type="text/css" href="/codebase/skins/web/dhtmlx.css">
        <link rel="stylesheet" type="text/css" href="/codebase/skins/terrace/dhtmlx.css">
        <link rel="stylesheet" type="text/css" href="/codebase/skins/skyblue/dhtmlx.css">
        <link rel="stylesheet" type="text/css" href="/codebase/ext/dhtmlxgrid_pgn_bricks.css">
        <link rel="stylesheet" type="text/css" href="/codebase/ext/dhx_modify.css">
    <% } %>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
</head>
<body>
    <header>
        <div>

        </div>
    </header>
